.footer{
  font-family: Open Sans;
  color:#1BCB7F;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  margin: 100px 0px 0px 0px;
}


.footer  a {
  color: black;

}

.footer  a:hover{
  color: green;

}




/*.footer h1{

  display: flex;
  justify-content: flex-end;

}

*/
